
.search-section {
    width: 42%;
    background-color: #212121;
    display: flex;
    justify-content: space-between;
    display: none;
    padding: 25px;
}

.search-btn,
.search-calendar {
    border: none;
    background-color: #212121;
    font-size: 20px;
    color: #6E6E6E;
    margin-top: 8px;
}

.search-input {
    margin-left: 20px;
    margin-right: 20px;

    input {
        position: relative;
        border: 1px solid #6E6E6E;
        padding: 12px 30px;
        padding-left: 45px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        background-color: rgb(24, 24, 24);
        outline: none;
        color: white;

    }

}

.search-span {
    position: absolute;
    top: 7%;
    left: 77%;
    transform: translate(-50%, -50%);
    color: #6E6E6E;
    font-size: 18px;
}

.search-x-span {
    position: absolute;
    top: 7%;
    left: 93%;
    color: #6E6E6E;
    transform: translate(-50%, -50%);
    font-size: 18px;
}

.aside-item-active {
    background-color:#8774E1;
    &:hover{
        background-color:#8774E1 !important;
    }
}

.aside-search{
    padding: 15px;
    background-color: #212121;
}