$bgColor:#212121;
$textColor: #6E6E6E;
$size:20px;

.aside-item-active {
    background-color:#8774E1;
    &:hover{
        background-color:#8774E1 !important;
    }
}

.search-section {
    width: 42%;
    background-color: $bgColor;
    display: flex;
    justify-content: space-between;
    display: none;
    padding: 25px;
}

.search-btn,
.search-calendar {
    border: none;
    background-color: $bgColor;
    font-size: $size;
    color: $textColor;
    margin-top: 8px;
}

.search-input {
    margin-left: $size;
    margin-right: $size;

    input {
        position: relative;
        border: 1px solid $textColor;
        padding: 12px 30px;
        padding-left: 45px;
        border-radius: $size;
        -webkit-border-radius: $size;
        -moz-border-radius: $size;
        -ms-border-radius: $size;
        -o-border-radius: $size;
        background-color: rgb(24, 24, 24);
        outline: none;
        color: white;

    }

}

.search-span {
    position: absolute;
    top: 7%;
    left: 77%;
    transform: translate(-50%, -50%);
    color: $textColor;
    font-size: 18px;
}

.search-x-span {
    position: absolute;
    top: 7%;
    left: 93%;
    color: $textColor;
    transform: translate(-50%, -50%);
    font-size: 18px;
}



.aside-search{
    padding: 15px;
    background-color: $bgColor;
}